body {
  background-color:sandybrown;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#name-form {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

#name-input {
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
}

#name-form button {
  background-color:yellowgreen;
  cursor: pointer;
  padding: 4px;
  color:white;
  border-radius: 5px;
}

#name-form button:hover {
  background-color: springgreen;
}

#error-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cookie-container img {
  height: 200px;
  width: 200px;
  padding: 5px;
}

#quote-container {
  margin-top: 30px;
  font-family:cursive;
  font-size: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

#quote-container.show {
  opacity: 1;
  transform: translateY(0);
}